body {
  font-family:"Fira Sans", sans-serif;
  line-height:140%;
  font-size:16px;
}

header {
  color:white;
  background-image:url(../img/imgbg-1280-500px.png);
  background-color:#2d5266;
  font-weight:bold;
  padding-bottom:5em;
}

.pres {
  font-size:19px;
  line-height:160%;
}

nav.navbar.navbar-inverse {
background-color:rgba(19, 19, 19, 0.62);
color:white;
}

.navbar-inverse {
  border:none;
}

.navbar {
  border-radius:none;
}
.navbar-brand {
padding-left:3em;
}

.navbar-inverse a.navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color:white;
}
.container-fluid {
  padding:0;
}
.partone {
background-color:#fbfbfc;
padding-top:5em;
padding-bottom:5em;
}

.parttwo {
  background-color:white;
  padding-top:5em;
  padding-bottom:5em;
}

.partthree {
  background-image:url("../img/imgbg-1280-500px.png");
  background-repeat:no-repeat;
  color:white;
  background-size: cover;
  padding-top:5em;
  padding-bottom:5em;
}

footer {
background-color: #343e3e;
color:white;
}

h2, h3, h4, h5, h6, btn {
  font-family:"Fira Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-size:3em;
}

.btn-primary {
background-color: #698082;
color:white;
border:1px solid #698082;
}

.btn-primary:hover, .btn-primary:active{
background-color: white;
color:#698082;
border:1px solid #698082;
}

.btn-default {
background-color: #fff;
color:#698082;
border:1px solid #698082;
}

.btn-default:hover, .btn-default:active {
background-color: #8aa8ab;
color:#fff;
border:1px solid #8aa8ab;
}

.btn-primary-inverse {
  background-color:white;
  color:#698082;
}

main h2 {
  margin-top:0;
  margin-bottom:1.5em;
}

.mt3 {
  margin-top:3em;
}

.mt2 {
  margin-top:2em;
}

.mb3 {
  margin-bottom:3em;
}

.titrefun {
  color:#698082;
}


a:active, a:focus, a:hover {
  text-decoration:none;
}
